<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--stdout appender-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!--daily rolling file appender-->
    <appender name="FileAppender" class="ch.qos.logback.core.FileAppender">
        <file>dubbo.log</file>
        <encoder>
            <pattern>%d %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!--root logger-->
    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FileAppender"/>
    </root>
</configuration>